<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivan.benevold">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:windowSoftInputMode="adjustPan"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BenevOld">
        <activity android:name=".MyTasksScreen"></activity>
        <activity android:name=".MoreDetailsScreen" />
        <activity android:name=".PreviewTaskScreen" />
        <activity android:name=".CreateTaskScreen" />
        <activity android:name=".InformationScreen" />
        <activity android:name=".PrivacyScrenn" />
        <activity android:name=".ContactUsScreen" />
        <activity android:name=".EditProfileScreen" />
        <activity android:name=".ProfileScreen" />
        <activity android:name=".ClientMainScreen" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".ForgotPasswordScreen" />
        <activity android:name=".SingUpScreen" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".LoadingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>